<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>
<head>
    <title>Result</title>
</head>
<body>


<form th:action='@{/charge}' method='POST' id='checkout-form'>
    <input type='hidden' th:value='${amount}' name='amount' />
    <label>Price:<span th:text='${amount/100}' /></label>
    <!-- NOTE: data-key/data-amount/data-currency will be rendered by Thymeleaf -->
    <script
            src='https://checkout.stripe.com/checkout.js'
            class='stripe-button'
            th:attr='data-key=${stripePublicKey},
                 data-amount=${amount},
                 data-currency=${currency}'
            data-name='Baeldung'
            data-description='Spring course checkout'
            th:data-image='@{/image/amazon.png}'
            data-locale='auto'
            data-zip-code='false'>
    </script>
</form>

<a class="btn btn-primary" href='/'>Go back home</a>
</body>
</html>