<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>
<div th:include="fragments/navbar :: navbar" ></div>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Tech Talent Store</h1>
            <p>This is a small e-commerce application that allows the user to purchase some of a few products that are offered here. </p>
            <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
<!--        thymeleaf loop for the products-->
        <div class="row">
            <div class="col-md-3" th:each="product : ${products}">
                <div class="card" >
                    <a th:href="@{|/product/${product.getId()}|}">
                        <img class="card-img-top" th:src="@{${product.getImage()}}" style="width: 100%;height: 220px;object-fit: cover;" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${product.getName()}"></h5>
                        <p class="card-text" th:text="${product.getDescription()}"></p>
                        <a th:href="@{|/product/${product.getId()}|}" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<script src="jquery-3.4.1.min.js"></script>
<div th:insert="fragments/footer :: footer"></div>

</body>
</html>
